$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.roboto {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.bold {
  font-weight: 700;
}

//          rgb                   808movie  808.html909   codepen
$red:      rgba(252,79,59,1);   // FC4F3B    // ed400b // FD4D20
$orange:   rgba(252,114,41,1);  // FC7229    // FF9600 // FE7F00
$yellow:   rgba(252,22,47,1);   // FCDC2F    // FFE800 // FAEF1B
$offwhite: rgba(244,244,244,1); // FEFEFE    // FFFBEB // F4F4D1
$darkgrey: rgba(48,46,47,1);    // 302E2F    // 353535 // 34302F

.red      { color: $red; }
.orange   { color: $orange; }
.yellow   { color: $yellow; }
.offwhite { color: $offwhite; }
.darkgrey { color: $darkgrey; }

body {
  background-color: $darkgrey;
  color: $offwhite;
}

.text-uppercase {
  text-transform: uppercase;
}

.unstyled-list {
  list-style-type: none;
}
