// $icon-font-path: '../fonts/';

@import 'bootstrap-overrides';

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

.svg-fill {
  fill: $offwhite;
}

.logo {

  svg {
    background-color: $offwhite;
    opacity: 1;
  }
  .svg-fill {
    fill: $grey-dark;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.nav-main {
  clear: both;
  position: fixed;
  right: 0;

  // could probably refactor using bootstrap classes
  .navbar-toggler,
  .nav-item,
  div {
    float: right;
    clear: both;
  }
}
