// Custom bootstrap settings
@import 'bootstrap';

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

.svg-fill {
  fill: $gray-dark;
}

.svg-bg {
  // optional
}

section {
  // @extend .m-b-3;
  margin-bottom: 6rem;
}

.logo {
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: -1;

  svg {
    display: block;
    fill: currentColor;

    .bg {
      fill: $offwhite;
    }

    .color {
      fill: $offwhite;
      animation: fadeLogo 6s ease-in 1s forwards 1;
    }
  }
}

@keyframes fadeLogo {
  from { fill: $offwhite; }
  to   { fill: darken($offwhite, 12%); }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.font-family-monospace {
  font-family: $font-family-monospace;
}

.nav-main {
  clear: both;
  position: fixed;
  right: 0;

  #nav_main {
    clear: both;
    @include clearfix;
    @include pull-right;
    a {
      padding-top: 0.75em;
    }
  }
  a {
    @extend #nav_main
  }
}

.animated-hover-parent {
  .zoom {
   transform: scale(1);
   transition: 0.3s ease-in-out;
  }
  &:hover .zoom {
  	transform: scale(1.135);
  }
}
