// $icon-font-path: '../fonts/';

// Custom bootstrap settings
@import 'bootstrap';

// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower

.svg-fill {
  fill: $offwhite;
}

.logo {

  svg {
    background-color: $red;
    opacity: 1;
  }
  .svg-fill {
    fill: $offwhite;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.font-family-monospace {
  font-family: $font-family-monospace;
}

.nav-main {
  // clear: both;
  position: fixed;
  right: 0;

  #nav_main {
    clear: both;
    @include clearfix;
    @include pull-right;
    a {
      padding-top: 0.75em;
    }
  }
  a {
    @extend #nav_main
  }
}
