extends _template

block meta
  - var img_src='images/charlie-portfolio.png'
  - var a_href='http://chrlieco.com/'
  - var cta='Check it out'
  
block desc
  dl
    dt Responsive portfolio site
    dd Front-end development
