extends _template

block meta
  - var title='MSP Mag'
  - var img_src='images/msp-logo.png'
  - var a_href='http://mspmag.com/'
  
block desc
  dl
    dt WordPress blogs
    dd Front-end theme
    dd Integration with Kentico CMS
