extends _template

block meta
  - var title='Xolve'
  - var img_src='images/xolve-logo@2x.png'
  - var a_href='http://xolve.com/'
  
block desc
  dl
    dt WordPress website and blog
    dd Front-end development
