extends layouts/default

block content

  div(style="width: 100%; height: auto;")
    include images/808-reversed-cropped.svg

  .container

    h1.roboto-mono.red.text-uppercase.bold 808 Loud
    h3.text-muted Web design and development

    include images/roland.svg
