extends layouts/default

block content

  .logo
    include images/808-reversed-cropped.svg

  .container-fluid

    h1.roboto-mono.red.text-uppercase.bold 808 Loud
    h3.text-muted Web design and development

    p 1 2 
      a Testing

    include images/roland.svg
