extends layouts/default

block content

  .logo
    include images/808-reversed-cropped.svg

  .container

    h1.text-danger.text-uppercase.font-weight-bold 808 Loud
    h3.text-muted Web design and development

    p 1 2 
      a Testing 3
        4 5
        
    .card-deck
      include projects/ex0.jade
      include projects/ex1.jade
    .card-deck
      include projects/ex2.jade
      include projects/ex3.jade
