extends layouts/default

block content

  .logo
    include images/808-reversed-bleed.svg

  .container
  
    section#about
      .jumbotron.text-xs-center.m-y-3
        h1.display-1.text-danger.text-uppercase.font-weight-bold.wow.flipInX
          | 808 Loud
        h3.text-muted.animated.wow.fadeInDownBig(data-wow-delay='300')
          | Web design and development.
        h4.text-muted.animated.wow.fadeInDown(data-wow-delay='600')
          | For rockstars. By rockstars.
          
    section#work
      h1 Work samples
      //- TODO make # of cards in a row responsive! bootstrap grid!
      .card-deck
        include projects/charlie-portfolio
        include projects/ex1
      .card-deck
        include projects/msp-mag
        include projects/xolve
        //- TODO add DFS, Northern Brewer, BMTN, define simple, Intermix, McKennson?
    
    section#quotes
      +octicon('quote', 50, 50)
      blockquote
        p Cool quotes goes here.
        footer.blockquote-footer Some important dude  
        
    section#contact-form
      include includes/contact-form
    
    section#808
      include includes/808
