extends layouts/default

block content

  .logo
    include images/808-reversed-cropped.svg

  .container
  
    section#about
      .jumbotron.text-xs-center.m-y-3
        h1.display-1.text-danger.text-uppercase.font-weight-bold.animated.fadeInDownBig 808 Loud
        h3.text-muted.
          Web design and development for rockstars
          
    section#work
      h1 Work samples
      //- make this flexbox! bootstrap grid!
      .card-deck
        include projects/charlie-portfolio
        include projects/ex1
      .card-deck
        include projects/msp-mag
        include projects/xolve
        //- DFS, Northern Brewer, BMTN, define simple, Intermix, McKennson?
    
    section#quotes
      span.mega-octicon.octicon-quote.animated.animated-scroll.bounce
      blockquote
        p Cool quotes goes here.
        footer Some important dude  
        
    section#contact-form
      include includes/contact-form
    
    section#808
      include includes/808
