extends layouts/default

block content

  .logo
    include images/808-reversed-cropped.svg

  .container
  
    section#about
      h1.text-danger.text-uppercase.font-weight-bold 808 Loud
      h3.text-muted Web design and development
      p 1 2 #[a(href='#') 3] 4 5
          
    section#work
      h1 Work samples
      //- make this flexbox! bootstrap grid!
      .card-deck
        include projects/charlie-portfolio
        include projects/ex1
      .card-deck
        include projects/msp-mag
        include projects/xolve
        //- DFS, Northern Brewer, BMTN, define simple, Intermix, McKennson?
      
        
    section#contact-form
      include includes/contact-form
    
    section#808
      include includes/808
