//- contact-form.jade
.row
  div.col-xs-12.col-xs-offset-0.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
    h1#contact Contact
    form#form-contact(action='//formspree.io/info@808loud.com' method='POST')
      .form-group
        label.sr-only(for='name') Name
        input.form-control#name(name='Name' type='text' placeholder='Name')
      .form-group
        label.sr-only(for='email') Email
        input.form-control#email(name='email' type='email' placeholder='Email address')
      input(name='_subject' value='New form submission from 808loud.com' type='hidden')
      input.hidden-xs-up(name='_gotcha' type='text')
      input(name='_format' value='plain' type='hidden')
      .form-group
        label.sr-only(for='message') Message
        textarea.form-control#message(name='Message' placeholder='Message')
      input.btn.btn-primary(type='submit', value='Send')
