footer.bg-success.m-t-3.p-y-3
  .container.text-primary
    .row
      .col-sm-4
        span.mega-octicon.octicon-quote.animated.animated-scroll.bounce
        blockquote
          p Cool quote goes here.
          footer Some important dude
      .col-sm-4
        span.mega-octicon.octicon-location.animated.animated-scroll.bounce
        address
          //- | 2151 Midlothian Road<br>
          | St. Paul, MN<br>
          a(href='tel:612.465.9808')
            abbr(title='Phone') p
            | .612.465.9808
        span.mega-octicon.octicon-mail.animated.animated-scroll.bounce
        p.
          <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'%'+'6'+'9'+'n'+'&'+'#'+'1'+'0'+'2'+';'+'%'+'6'+'F'+'&'+'#'+'6'+'4'+';'+'8'+'%'+'&'+'#'+'5'+'1'+';'+'0'+'&'+'#'+'5'+'6'+';'+'&'+'#'+'1'+'0'+'8'+';'+'o'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'5'+';'+'5'+'&'+'#'+'3'+'7'+';'+'6'+'4'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+"'"+'>'+'i'+'&'+'#'+'1'+'1'+'0'+';'+'&'+'#'+'1'+'0'+'2'+';'+'o'+'&'+'#'+'6'+'4'+';'+'8'+'&'+'#'+'4'+'8'+';'+'8'+'l'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'1'+'7'+';'+'&'+'#'+'1'+'0'+'0'+';'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'0'+'9'+';'+'<'+'/'+'a'+'>');</script><noscript></noscript>
      .col-sm-4
        span.mega-octicon.octicon-tools.animated.animated-scroll.bounce
        ul.list-unstyled
          li Source control by GitHub
            span.octicon.octicon-octoface
          li Templatized with Jade
            span.octicon.octicon-code
          li Styled with Bootstrap
            span.octicon.octicon-bold
          li Deployed with Gulp
            span.octicon.octicon-squirrel
          li Hosted on GitHub Pages
            span.octicon.octicon-mark-github
          li Hand-coded with love
            span.octicon.octicon-heart
      
