head
  meta(charset='utf-8')
  title 808 Loud &bull; Web design and development. Get loud.
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='apple-touch-icon' href='apple-touch-icon.png')
  // Place favicon.ico and apple-touch-icon.png in the root directory

  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700')
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,700')

  // build:css styles/vendor.css
  // bower:css
  //- link(rel='stylesheet' href='bower_components/octicons/build/font/octicons.css')
  link(rel='stylesheet' href='bower_components/animate.css/animate.css')
  // endbower
  // endbuild

  // build:css styles/main.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild
