head
  meta(charset='utf-8')
  title My Webapp
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='apple-touch-icon' href='apple-touch-icon.png')
  // Place favicon.ico and apple-touch-icon.png in the root directory

  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700')
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Mono:400,700')

  // build:css styles/vendor.css
  // bower:css
  // endbower
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
  // endbuild

  // build:css styles/main.css
  link(rel='stylesheet' href='styles/main.css')
  // endbuild
