//- includes/navigation.jade

nav.nav-main.hidden-md-up.p-a-1
  a.toggler.hidden-md-up(data-toggle="collapse" data-target="#nav_main" role="button")
    span.icon-hamburger(aria-label='Menu')
      include ../images/hamburger.svg
    span.icon-close.hidden-xs-up(aria-label='Close')
      include ../images/close.svg
  #nav_main.collapse.navbar-toggleable-md.pull-md-right.nav.text-xs-right.text-primary.text-uppercase.font-weight-bold
    a.nav-item.nav-link(href='#', role='button') 808 Loud
    a.nav-item.nav-link(href='#about', role='button') About
    a.nav-item.nav-link(href='#work', role='button') Work
    a.nav-item.nav-link(href='#contact', role='button') Contact
    a.nav-item.nav-link(href='#808' role='button') Get loud
